html {
    overflow-x: hidden;
    background: linear-gradient(180deg, #040f10 0%, #214024 60%, #68622d 100%);
    /* box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25); */
}
body {
    padding: 0;
    position: relative;
    margin: 0 auto 50px auto;
    max-width: 1360px;
    /*max-height: 3256px;*/
}

header {
    background: no-repeat center url(img/main_photos/1_mainPhoto.jpg);
    background-size: 1200px;
    height: 100vh;
    max-height: 800px;
    width: auto;
}

.Menu {
    display: flex;
    position: relative;
    height: 65px;
    top: 10vh;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 199.52%;
}

.Menu h1 {
    font-family: 'Corinthia';
    font-style: normal;
    font-weight: 400;
    font-size: 5em;
    color: #33431e;

    margin-top: 2%;
    flex-basis: 50%;
    text-align: left;
    padding-left: 13%;
    transition: 0.2s;
}

.Menu > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-right: 10%;
    height: 65px;
    gap: 50px;
    flex-basis: 50%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0;

    color: #33431e;
    transition: 0.2s;
    white-space: nowrap;
}

.m_menu a {
    text-decoration: none;
    color: #33431e;

    text-shadow: 0px 0px 16px #ffffff;
    transition: 0.2s;
}

.m_menu a:hover {
    font-size: 20px;
    padding-bottom: 0.3em;
    border-bottom: 1.5px solid #33431e;
    border-radius: 2px;
}
.m_menu a:active {
    font-size: 17px;
}

.order {
    transform: scale(0.9);
    width: 450px;
    height: 157px;
    position: relative;
    margin-top: 50vh;
    margin-right: calc(20% - 200px);
    float: right;

    transition: 0.25s;
}

.order button {
    position: absolute;
    width: 386.5px;
    height: 70px;
    left: calc(50% - 386.5px / 2 - 39.49px);
    top: calc(50% - 70px / 2 - 43.5px);

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 28px;

    transition: transform 0.25s;
    text-align: center;

    color: #ffffff;
    background: rgba(156, 156, 156, 0.4);
    border-radius: 35px;
    border: 0;
}

.order p {
    position: absolute;
    width: 337px;
    height: 50px;
    left: calc(50% - 337px / 2 - 35.24px);
    top: calc(50% - 80px / 2 + 29.5px);

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
}

button:hover {
    transform: scale(1.1);
}
button:active {
    transform: scale(1);
}

.portfolio {
    position: relative;
    top: 40px;
    width: auto;
    min-height: 1207px;
    padding: 40px 0;
}

.ph_group {
    justify-content: center;
    display: flex;
    width: auto;
    max-width: 1160px;
    min-height: 1207px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 40px;
    font-family: 'Comfortaa';
    text-align: center;
    color: #ffffff;
}

.name {
    font-weight: 300;
    font-size: 25px;
    line-height: 10px;
}

.but {
    text-decoration: none;
    width: 70%;
    font-weight: 200;
    color: white;
}
.but::after {
    content: ' --->';
}

.photo1 {
    position: static;
    width: 320px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}
.photo1 > a > img {
    border-radius: 25px;
}

.photo2 {
    position: static;
    width: 320px;
    height: 580px;
    left: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}
.photo2 > a > img {
    border-radius: 25px;
}

.photo3 {
    position: static;
    width: 320px;
    height: 580px;
    left: 840px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}
.photo3 > a > img {
    border-radius: 25px;
}

.photo4 {
    position: static;
    width: 320px;
    height: 580px;
    top: 645px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}
.photo4 > a > img {
    border-radius: 25px;
}

.photo5 {
    position: static;
    width: 320px;
    height: 580px;
    left: 420px;
    top: 645px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}
.photo5 > a > img {
    border-radius: 25px;
}

.photo6 {
    position: static;
    width: 320px;
    height: 580px;
    left: 840px;
    top: 645px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}
.photo6 > a > img {
    border-radius: 25px;
}
.price {
    min-height: 1000px;
}

/* footer {
} */

.links {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.links a img {
    width: 36px;
}

@media (max-width: 800px) {
    /* body {
        min-height: 700px;
    } */
    .Menu {
        margin-top: -15px;
        height: 150px;
        top: 10vh;
        flex-direction: column;
        align-items: center;
    }

    .Menu h1 {
        margin-bottom: -50px;
        margin-top: 0;
        /* border: 1px solid red; */
        padding-left: 0;
    }

    .Menu > ul {
        /* border: 1px solid red; */
        padding-right: 8%;
    }
}
/*
@media (max-width: 1100px) and (min-width: 900px) {
    .order {
        transform: scale(0.85);
        left: calc(50% + 60px);
        top: 450px;
    }
}

@media (max-width: 900px) {
    .mainPhoto {
        height: auto;
        width: 900px;
    }
    #Oph {
        width: 100%;
        margin: 0;
        justify-content: center;
        transition: 0.5s;
    }

    .Menu > ul {
        width: 90%;
        min-width: 300px;
        top: 130px;
        margin: 0 0;
        justify-content: center;
    }
    .Menu {
        width: 100%;
    }
    .order {
        top: 620px;
        left: calc(40% - 125px);
    }
}
*/
